body {
	padding: 0;
	margin: 0;

}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: black;
}
h1{
	margin: 0;
	padding: 0;
	
}
img{
	border:0;
}
#wrap{
	width:100%;
}

header{
}
header .headerIn {
	padding-top: 50px;
	width:1000px;
	margin: 0 auto;
	position: relative;	
}
header .headerIn h1{
	width:271px;
	height:35px;
	margin: 0 auto;
	background-image: url(../images/logo.gif);
	text-indent: -9999px;
	display: block;
	margin-bottom:20px;
	
	
}
header .headerIn h1 a{
	display: block;
	z-index: 100;
}
header .headerIn .utill{
	position: absolute;
	top:0;
	margin: 0;
	text-indent: -9999px;	
	
}
header .headerIn .utill li{
	float: left;
	width:100px;
}
header .headerIn .utill .smenu1{
	background-image: url(../images/gnb_smenu01.png);
	background-repeat: no-repeat;
	line-height: 76px;
	
}
header .headerIn .utill .smenu2{
	background-image: url(../images/gnb_smenu02.gif);
	background-repeat: no-repeat;	
	margin-left: 15px;	
	margin-top: 20px;
}
header .headerIn .utill a{
	display: block;
}
header .headerIn .gnb{
	width:1000px;
	margin-left: -35px;
}
header .headerIn .gnb li{
	float: left;
	width:166.666666px;
	text-indent: -9999px;	
	background-position: center center;	
	
	margin-bottom: 30px;
	margin-top: 10px;
}
header .headerIn .gnb .menu1{
	background-image: url(../images/gnb_01.gif);
	background-repeat: no-repeat;
}
header .headerIn .gnb .menu2{
	background-image: url(../images/gnb_02.gif);
	background-repeat: no-repeat;
}
header .headerIn .gnb .menu3{
	background-image: url(../images/gnb_03.gif);
	background-repeat: no-repeat;
}
header .headerIn .gnb .menu4{
	background-image: url(../images/gnb_04.gif);
	background-repeat: no-repeat;
}
header .headerIn .gnb .menu5{
	background-image: url(../images/gnb_05.gif);
	background-repeat: no-repeat;
}
header .headerIn .gnb .menu6{
	background-image: url(../images/gnb_06.gif);
	background-repeat: no-repeat;
}
header .headerIn .gnb .menu1:hover{
	background-image: url(../images/gnb_01_on.gif);
	background-repeat: no-repeat;
}
header .headerIn .gnb .menu2:hover{
	background-image: url(../images/gnb_02_on.gif);
	background-repeat: no-repeat;
}
header .headerIn .gnb .menu3:hover{
	background-image: url(../images/gnb_03_on.gif);
	background-repeat: no-repeat;
}
header .headerIn .gnb .menu4:hover{
	background-image: url(../images/gnb_04_on.gif);
	background-repeat: no-repeat;
}
header .headerIn .gnb .menu5:hover{
	background-image: url(../images/gnb_05_on.gif);
	background-repeat: no-repeat;
}
header .headerIn .gnb .menu6:hover{
	background-image: url(../images/gnb_06_on.gif);
	background-repeat: no-repeat;
}
header .headerIn .gnb a{
	display: block;
}
header .headerIn .loginnav {
	position: absolute;
	top:0;
	right: 0;
}
header .headerIn .loginnav li{
	float: left;
	font-size: 13px;
}
header .headerIn .loginnav li:after{
	content:"";
	display:inline-block;
	background: #686868;
	width: 1px;
	height: 7px;
	margin:0 7px;
}
header .headerIn .loginnav .lastChild:after{
	display: none;
}
header .headerIn .loginnav a{
	color : #686868;
}
#mainSlider{
	width:100%;
	height: 480px;
	background-image: url(../images/mainBanner_201710310442383740.jpg);
	background-position: center center;
	overflow: hidden;
}
#container{
	width:940px;
	margin: 30px auto;
}
.mainRow1 {

}
.mainRow1 a,.mainRow1 img{
	display: block;
}
.mainRow1 h3{
	margin: 0;
}
.mainRow1:after{
	content: "";
	display: block;
	clear: both;
}

.mainRow1 div{
	
}
.mainRow1 h3{
	
}
.mainRow1 .row1_1,.mainRow1 .row1_2,.mainRow1 .row1_3{
	width:205px;
	margin-right: 35px;
	float:left;
}
.mainRow1 .row1_2{
	width:460px;
}
.mainRow1 .row1_3{
	margin-right: 0;
}
.mainRow1 .row1_1 h3{
	
}
.mainRow1 .row1_1 h3 img{
	
}
.mainRow1 .row1_1 p{
	
}
.mainRow1 .row1_1 p a{	
}
.mainRow1 .row1_1 p a img{
	
}

.mainRow1 .row1_2 h3{}
.mainRow1 .row1_2 img{	
}
.mainRow1 .row1_2 p{
	font-size: 12px;
	color:#6f6f6f;
}
.mainRow1 .row1_2 ul{
	padding: 0;
	font-size: 0;
	margin-top: 30px;
	text-align: left;
}
.mainRow1 .row1_2 ul li{
	width:135px;
	text-align: center;
	display: inline-block;
	font-size: 12px;
	background:url(../images/mall_bar01.gif) no-repeat;
}
.mainRow1 .row1_2 ul li:first-child{
	background: none;
}
.mainRow1 .row1_2 ul li a{
	padding: 20px;
	color:#6f6f6f;

}
.mainRow1 .row1_2 ul li a img{
	margin: 0 auto;
}

.mainRow2{
	font-size: 0;
}
.mainRow2 a{	
	display:inline-block;
}
.mainRow2 a img{}

.cf:after{
	content: "";
	display: block;
	clear: both;
}
.mainRow3{
	margin-top: 30px;
	font-size: 12px;
	color:#6f6f6f;
}
.mainRow3 a{
	font-size: 12px;
	color:#6f6f6f;
}
.row3_1,.row3_2,.row3_3,.row3_4{
	width:205px;
	margin-right:35px;
	float: left;
}
.moreBtn{}

.moreBtn a img{
	vertical-align: middle;
}

.row3_3 .moreBtn{}
.row3_3 ul{
	padding: 0;
}
.row3_3 ul li{
	line-height: 20px;
}
.row3_3 ul li a{
	width:150px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	display: inline-block;
	vertical-align: top;
}
.row3_3 ul li a span{}

.row3_4{
	margin-top: 10px;
	margin-right: 0px;
	text-align: center;
}
.row3_4 a{
	display:inline-block;
	padding:0 4px;
	
}
.row3_4 a img{
	display: block;
	margin: 0 auto;
}

.mainRow4{
	padding-top:30px;
	margin-top:30px;
	border-top:2px solid darkred;
	font-size: 12px;
	color:#6f6f6f;
}
.mainRow4 h3{}
.mainRow4 h3 .sns{
	display:inline-block;
	font-size:0px;
	vertical-align:middle;
	margin-top:-10px;
}
.mainRow4 h3 .sns li{
	display:inline-block;
	margin-right:5px;
}
.mainRow4 h3 .sns ul lu a{
	display:block;
}
.mainRow4 .row4Box{
	width:205px;
	margin-right:35px;
	float:left;
	font-size:12px;
	color:#36f;
	background: url(../images/48_48.png) no-repeat;
	padding-left:55px;
	box-sizing:border-box;
	background-position:0 center;
}
.mainRow4 .row4Box.lastChild{
	margin-right:0px;
}
.mainRow4 .row4Box p{
	margin:0;
}
.mainRow4 .row4Box a{
	color:#363636;
}

/*ν‘Έν„°μ‹μ‘*/

#footer{
	background:url(../images/bg_footer.gif) repeat;
	padding:50px 0;
}
.footerIn{
	width:940px;
	margin:0 auto;
	color:#fff;
	font-size:11px;
	color:#de898e;
}
.footerIn ul{
	font-size:0px;
	padding-bottom:20px;
}
.footerIn ul li:after{
	content:"";
	display:inline-block;
	width:1px;
	height:10px;
	background:#fff;
	margin: 0 5px;	
}
.footerIn ul li:last-child:after{
	display:none;
}
.footerIn ul li{
	display:inline-block;
	font-size:15px;	
}
.footerIn ul li a{
	color:#fff;
}
.footerIn ul li a:hover{
	text-decoration:underline;
}