@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);


body{
	font-family:'Noto Sans KR' ,'sans-serif';
}
body,h1,h2,h3,h4,p,ul,li,span,a,dl,dt,dd{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
	color:black;
}
ul{
	list-style: none;
}
.cf:after{
	content: "";
	display: block;
	clear: both;
}
.w1000{
	width:1000px;
	margin: 0 auto;
}
#wrap{}

#main{
	transition:all 0.5s;
}
#header{
	width:100%;
	height:50px;
	background: #fff;
	position: relative;
	padding-top: 12.5px;
	box-sizing:border-box;
	
}
#header h1{
	width: 120px;
	height: auto;
	background: url(../images/index/logo.png) no-repeat;
	margin: 0 auto;
	padding: 4% 0;
	position: relative;
}
h1 a{
	display: block;
	width:100%;
	height: 100%;
	position: absolute;
	top:0;
	
}
.back button{
	display: block;
	height: 100%;
	width:12px;
	height: 13px;
	background: url(../images/sub01/images/backBtn.png) no-repeat;
	position: absolute;
	left: 15px;
	top:17px;
	border: none;
}
.menuBtn{
	width:22px;
	height: 19px;
	background: url(../images/index/menu.png) no-repeat;
	position: absolute;
	top:15px;
	right:10px;
}
.menuBtn a{
	display: block;
	height:100%;
}


#mySidenav{
	width:0;
	height: 100%;
	position: absolute;
	right:0;
	top:0;
	overflow:hidden;
	transition:width 0.5s;
}

.openBtn{
	z-index: 1;
}

#body{
	width:100%;
}
#menu{
	
	
}
.menuHeader{
	width:100%;
	height:50px;
	background: #585858;
}
.menuHeader p{
	width:300px;
	color:#fff;
	text-align: center;
	line-height: 57px;
}
.menuHeader .setting{
	display: block;
	width:22px;
	height:22px;
	background: url(../images/index/menu_icon_01.png) no-repeat;
	position: absolute;
	top:20px;
	right:5px;
	
}
.menuHeader .setting a{
	display: block;
	height: 100%;
}
.menuBody{
	width:100%;
	height: 917.25px;
	background: url(../images/index/menu_patten.png);
	box-shadow:inset 0px 0px 35px #000;
	padding-top:20px;
	box-sizing: border-box;
}
.menuBody .search{
	display: block;
	width:80%;
	height: 30px;
	background: #fff;
	margin: 0 auto;
	position: relative;
	margin-bottom: 10px;
}
.menuBody .search p{
	width:170px;
	color:#787878;
	font-size:15px;
	line-height:30px;
	margin-left: 5px;
}
.menuBody .search .glass{
	width:17px;
	height:18px;
	background: url(../images/index/menu_icon_02.png) no-repeat;
	position: absolute;
	right:6px;
	top:6px;
}
.menuBody .search .glass a{
	
}
.menuText{
	color:#fff;
	width:400px;
}
.menuText ul{
	margin-left: 35px;
	margin-top: 15px;
	
}
.menuText ul .firstLi{
	height: 35px;
	
}
.menuText ul .firstLi{
	

}
.menuText ul li ul{
	display: none;
	overflow: hidden;
	margin-left: 0px;
	margin-top: 0px;
	height: 175px;
	background: #292929;
	margin-top: 7px;
	margin-left: -35px;

}
.menuText ul li ul li{
	overflow: hidden;
	margin-left: 50px;
	line-height: 35px;
	height:35px;
}

.menuText ul li ul li{
	margin-bottom: 0px;
}
.menuText ul li ul li a{
	color:#fff;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color:#fff; 
	font-weight: bold;
	font-size:15px;
}
#cssmenu {
	width: 100%;
	color: #ffffff;
}
#cssmenu ul{
	width:400px;
}
#cssmenu ul ul {
	display: none;
}
.align-right {
	float: right;
}
#cssmenu > ul > li > a {
	padding: 15px 20px;
	cursor: pointer;
	z-index: 2;
	font-size: 14px;
	font-weight: bold;
}
#cssmenu ul ul li{
	background: #292929;
}
#cssmenu ul ul li a {
	cursor: pointer;
	padding: 10px 20px;
	z-index: 1;
	text-decoration: none;
	font-size: 14px;
	color: #fff;
	
	font-weight: 400;
	margin-left: 15px;


}
#cssmenu ul ul ul li a {
	padding-left: 30px;
}



.title{
	width:100%;
	height: 50px;
	background: url(../images/index/menu_patten.png) no-repeat;
	background-size:100%;
}
.title p{
	text-align: center;
	color:#fff;
	line-height: 50px;
	font-size:18px;
	margin-top: 10px;
}

.text{
	width:100%;
	height: auto;
	background: url(../images/sub02/images/main1.png) no-repeat;
	background-size:100%;
	padding-top: 31%;
	position: relative;
	margin-top: 25px;
	padding-bottom: 2%;
}
.banner .text{
}
.banner p{
	font-size:20px;
	font-weight: bold;
	text-align: center;
	color:#2c4089;
}
.banner p span{
	color:#000;
	display: inline-block;
}
.banner span{
	text-align: center;
	display: block;
	font-size:15px;
}

#mainRow1{
	width:320px;
	margin: 0 auto;
	line-height: 30px;
}
.arrowBtn{
	width:10px;
	height: 10px;
	background: #000;
	display: inline-block;
	margin-left: 15px;
}
#mainRow1 p{
	display: inline-block;
	margin-top: 10px;
}
#mainRow1 dl{
	margin:0 17px;
	font-size:14px;
}
.spell2{
	letter-spacing: 17px;
}
.spell3{
	letter-spacing: 7px;
}
.spell4{
	letter-spacing: 2px;
}
#mainRow1 dl dt{
	width:60px;
	display: inline-block;
}
#mainRow1 dl dd{
	display: inline-block;
}
.information{
	margin:0 17px;
	font-size:14px;
}
#mainRow1 dl .dots{
	width:15px;
	vertical-align: top;
}
.innerMap{
	
	width:80%;
	height: auto;
	background: url(../images/sub02/images/banner.png) no-repeat;
	background-size:100%;
	padding: 22% 0;
	margin: 0 auto;
}

#footer{}
#footer div{} 
#footer div ul{
	background: #5c5c5c;
	margin-top: 20px;
} 
#footer div ul li:nth-child(1){
	background: url(../images/sub02/images/dock1.png) no-repeat;
	background-size:60%;
	background-position: 57% 31%;
}
#footer div ul li:nth-child(2){
	background: url(../images/sub02/images/dock2.png) no-repeat;
	background-size:40%;
	background-position: 53% 31%;
}
#footer div ul li:nth-child(3){
	background: url(../images/sub02/images/dock3.png) no-repeat;
	background-size:60%;
	background-position: 58% 31%;
}
#footer div ul li:nth-child(4){
	background: url(../images/sub02/images/dock4.png) no-repeat;
	background-size:60%;
	background-position: 55% 31%;
}
#footer div ul li:nth-child(5){
	background: url(../images/sub02/images/dock5.png) no-repeat;
	background-size:60%;
	background-position: 52% 31%;
}
#footer div ul li{
	width: 20%;
	height: auto;
	float: left;
	font-size:12px;
	text-align:center;
	color:#fff;
	text-indent: 0 15px;
	position: relative;
} 
#footer div ul li a{
	display: block;
	width:100%;
	height: 100%;
	position: absolute;
	top:0;
}
#footer div ul li p{
	margin-top: 73%;
}


.slick-arrow{
	display: none;
	position: absolute;
	top:50%;
	margin-top: -15px;
	
}
.fa-angle-left{
	z-index: 1;
	left:5%;
	font-size:0;
}
.fa-angle-right{
	right:5%;
	font-size:0;
}

